openapi: 3.0.3
info:
  title: Radio Cult Artists Playlists API
  description: Power your online radio station website with the Radio Cult API. Manage artists, schedules, media, playlists, recordings, and live streaming metadata.
  version: '1.0'
  contact:
    name: Radio Cult
    url: https://www.radiocult.fm/docs/api
servers:
- url: https://api.radiocult.fm
  description: Radio Cult production API
security:
- ApiKeyAuth: []
tags:
- name: Playlists
paths:
  /api/station/{stationId}/media/playlist:
    get:
      tags:
      - Playlists
      summary: Retrieve all playlists
      parameters:
      - name: stationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of playlists
  /api/station/{stationId}/media/playlist/{playlistId}/entry:
    post:
      tags:
      - Playlists
      summary: Add an entry to a playlist
      parameters:
      - name: stationId
        in: path
        required: true
        schema:
          type: string
      - name: playlistId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Added entry
  /api/station/{stationId}/media/playlist/{playlistId}/entries:
    delete:
      tags:
      - Playlists
      summary: Clear all entries from a playlist
      parameters:
      - name: stationId
        in: path
        required: true
        schema:
          type: string
      - name: playlistId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cleared
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
