openapi: 3.2.0
info:
  title: Radio Cult Recordings API
  description: Power your online radio station website with the Radio Cult API. Manage artists, schedules, media, playlists, recordings, and live streaming metadata.
  version: '1.0'
  contact:
    name: Radio Cult
    url: https://www.radiocult.fm/docs/api
servers:
- url: https://api.radiocult.fm
  description: Radio Cult production API
security:
- ApiKeyAuth: []
tags:
- name: Recordings
paths:
  /api/station/{stationId}/media/recording:
    get:
      tags:
      - Recordings
      summary: Retrieve recordings
      parameters:
      - name: stationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of recordings
      operationId: getApiStationByStationIdMediaRecording
      x-operation-id-source: derived
  /api/station/{stationId}/media/recording/{recordingId}/download-url:
    get:
      tags:
      - Recordings
      summary: Get a signed download URL for a recording
      parameters:
      - name: stationId
        in: path
        required: true
        schema:
          type: string
      - name: recordingId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Signed download URL
      operationId: getApiStationByStationIdMediaRecordingByRecordingIdDownloadUrl
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
